<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cbbf860933.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
   <img src="/images/logo-mercado-liebre.svg"width="150" height="100">

     <form action=""> 
        <input type="text" placeholder="Buscar" id="search">
        <i class="fa-solid fa-magnifying-glass"></i>
    </form>

    <h5><i class="fa-solid fa-hand-holding-dollar"></i></a></li>Comprá en cuotas y sin tarjeta de crédito</h5>
     <nav>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
    </nav>
    <br>
    <nav>
        <ul>
            <li><a href="">Creá tu cuenta  <i class="fa-solid fa-id-card"></i></a></li>
            <li><a href="">Ingresá  <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis compras   <i class="fas fa-shopping-cart"></a></i>
        </ul>
    </nav>   
    <br>
    <div class="burger-menu">
    <span><i class="fas fa-bars"></i></span>
    </div>
    <br>
</header>

<main>
    <img src="images/img-home-banner.jpg"width="100%" height="60">
   <h4>Basado en tu última visita</h4>
   <nav> <img src="images/img-cafetera-moulinex.jpg"width="290" height="290">
        <span id="prec">$6.770></span>
        <span id="desc">40% off</span><br><br>
         <h4>Cafetera Moulinex</h4></nav>
    <nav><img src="images/img-macbook-pro-2019.jpg" width="290" height="290">
        <span id="prec">$230.000</span>
        <span id="desc">20% off</span><br>
        <br>
        <h4>MacBook Pro 2019</h4></nav>
    <nav><img src="images/img-samsung-galaxy-s10.jpg" width="290" height="290">
        <span id="prec">$70.500</span>
        <span id="desc">10% off</span><br><br>
        <h4>Samsung Galaxy S10</h4></nav>
    <nav><img src="images/img-tv-samsung-smart.jpg" width="290" height="290">
        <span id="prec">$23.200</span>
        <span id="desc">5% off</span><br><br>
        <h4>SmartTv Samsung 43"</h4></nav>

   <h4>Ofertas</h4>
   <nav> <img src="images/img-cafetera-moulinex.jpg"width="290" height="290">
        <span id="prec">$6.770></span>
        <span id="desc">40% off</span><br><br>
         <h4>Cafetera Moulinex</h4></nav>
    <nav><img src="images/img-macbook-pro-2019.jpg" width="290" height="290">
        <span id="prec">$230.000</span>
        <span id="desc">20% off</span><br>
        <br>
        <h4>MacBook Pro 2019</h4></nav>
    <nav><img src="images/img-samsung-galaxy-s10.jpg" width="290" height="290">
        <span id="prec">$70.500</span>
        <span id="desc">10% off</span><br><br>
        <h4>Samsung Galaxy S10</h4></nav>
    <nav><img src="images/img-tv-samsung-smart.jpg" width="290" height="290">
        <span id="prec">$23.200</span>
        <span id="desc">5% off</span><br><br>
        <h4>SmartTv Samsung 43"</h4></nav><br>
</main>
<br><br>
<footer>
    <i class="fa-solid fa-credit-card"></i>
<h3>Pagá con tarjeta o en efectivo</h3>
    <p>Con Mercado Liebre Cash, tenés cuotas sin <br> interés con tarjeta o efectivo en puntos de <br> pago. ¡Y siempre es seguro!</p><br><br>
    <i class="fa-solid fa-gift"></i>
<h3>Envío gratis desde $ 2.500</h3>
    <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de productos. Es <br> un beneficio de Mercado Puntos.</p><br><br>
    <i class="fa-solid fa-user-shield"></i>
<h3>Seguridad, de principio a fin</h3>
    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br> no hay nada que no puedas hacer, porque estás <br> siempre protegid@.</p><br><br>
<h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>

</footer>
</body>
</html>