         /*header*/

header{background-color: var(--color-amarillo);
}

form{margin-bottom: 20px}
#margen20{margin-bottom: 20px;}

header{
    font-weight: bold;
}
h5{
    margin-bottom: 20px;
    text-align: center;}


div{text-align: center;  
}
    
header span{
    color: white;
    background-color: var(--color-celeste);
    border-radius: 15%;
    padding: 10px 10px;
}

header #verde{
    color: var(--color-verde);
}

             /*main*/
#titulos{height: 40px;
text-align:center;}

main{
    background-color:var(--color-gris-claro);
    text-align: center;  
}
main nav{
    
    margin-left: 5%;
    margin-right: 5%;}
nav img {

    width: 100%;
}

main i{color: var(--color-verde);
    border:solid var(--color-verde) 1px;
    border-radius: 50%;
    padding: 10px;


}

.precio-y-porcentaje{background-color: white;
    border-top: solid #ebebeb 1px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    padding-left: 15px;
    padding-top:15px;
    padding-bottom: 15px;
}
             /*footer*/


footer i{
    color: var(--color-celeste);
    font-size: 40px;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    background-color: white;
}

           /*tamaño letras*/


p{font-size: 12px;}

h4{font-size: 24px;}

#prec{font-size: 18px;}

#desc{font-size: 16px;
    color: var(--color-verde)};

#descrip{font-size: 16px}
